CLIENT=XXXX           //Client for SQL server
DATABASE=project2db   //Name for SQL database
PG_USER=XXXX          //User for SQL server
PASSWORD=XXXX         //Password for SQL server
HOST=XXXX             //Host for the SQL server
PG_PORT=0000          //Port for the SQL server