.App {
    text-align: center; 
    font-family: sans-serif;
    font-size: 10px;
}

nav {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    min-height: 10vh; 
    background:lightsteelblue; 
    color: white;
    font-family: sans-serif; 
}

li {
    width: 40%; 
    display: flex; 
    justify-content: space-around;
    align-items: center;
    list-style: none;
}