/* *{
    background-color: rgb(113, 113, 144);
    color: white;
} */
.newlaunch{
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.MuiDataGrid-row.Mui-even {
    background-color: aliceblue;
  }

.nav{
    display: flex;
    flex-direction: row;
}

.link{
    display:inline-flex;
    justify-self: flex-end;
}