extends layout

block content
  h1= title
  p Welcome to the #{title}
  p You can read more about the API here:
  a(href="https://github.com/justinthelaw/Shop-Till-You-Drop") https://github.com/justinthelaw/Shop-Till-You-Drop
